<h1>New Donation</h1>

<%= render 'form' %>
<hr>
<h3>Listing donations</h3>

<table class="table table-striped">
  <tr>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donations.each do |donation| %>
  <tr>
    <td><%= donation.amount %></td>
    <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
    <td><%= link_to 'Delete', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<br />

<%= button_to 'Totals Page', root_path %>
